<!doctype html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="/css/my_style.css">
    <script src="/js/bootstrap.bundle.min.js"></script>
    <title>IC workspace</title>
</head>

<body class="p-3 m-0 border-0 bd-example">
<br>
<br>
<br>

<div class="margin-in-page">
    <div th:insert="blocks/navigation"></div>

    <div align="center" class="container py-3">
        <h1 class="fw-light">BETA Version IC_workspace</h1>
        <p class="lead text-muted">Платформа сервисов информационного центра</p>
        <a href="/reg" class="btn btn-primary">Зарегистрироваться</a>
    </div>


    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Таблица РД v.1.0.0</h5>
                    <p class="card-text">Сервис позволяющий зарегистрировать номер розыскного дела.</p>
                    <a href="/tableRD" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">СУЗ v.0.0.1</h5>
                    <p class="card-text">Сервис автоматического заполнения документов в соответствии с шаблоном.</p>
                    <a href="/" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Сверка v.0.0.1</h5>
                    <p class="card-text">Сервис для сверок файлов между собой или с базой данных в автоматическом режиме.</p>
                    <a href="#" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">Поддержка</h5>
                    <p class="card-text">Тут вы найдёте информацию о сервисе и инструкции по его использованию.</p>
                    <a href="#" class="btn btn-primary">Перейти</a>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>
</html>